<!DOCTYPE html>
<html lang="en">
   {{> header   }}
  <body>
     {{> navbar   }}
    <div class="container">
      <div class="text">Reset Password</div>
        {{#if msg}}
      <p class="{{msg_type}}">{{msg}}</p>
      {{/if}}
      <form action="/auth/reset-password" method="post">
        <input type="hidden" name="token" value="{{token}}">
        <div class="data">
          <label for="password">New Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <div class="data">
          <label for="confirm_password">Confirm Password</label>
          <input type="password" name="confirm_password" id="confirm_password" />
        </div>
        <div class="btn">
          <button type="submit">Reset Password</button>
        </div>
      </form>
    </div>
  </body>
</html>
